{% extends "layout.html" %}
{% set active_page = "aboutus" %}
{% block title %}
Skill Verse - About Us
{% endblock %}
{% block content %}
<div class="container">
    <div>
        <div class="profile-card">
            <div class="profile-info">
                <h3 class="profile-title">About Us</h3>
                <hr class="divider">
                <p class="profile-text">Our agenda is to launch a teaching based website for students/working professionals to gain deep technical skills in the fields of Data Science, Cloud Computing, web development, and programming.
                    Our site contains collection of courses which are taught by industry experts as well as excellent teachers. It has multiple pages neatly separated, with each one focusing on separate functionality to give a user smooth experience.
                    The styles and themes are keep smooth, consistent and professional to give our end users pleasant UI/UX experience. The code base follows has proper folder structure, and follows industry coding standards, which is refactored and properly linted.
                    We collaborated with each other to come up with design, styling, writing, refactoring and testing the code.</p>   
            </div>
        </div>
        <div class="profile-card">
            <div class="profile-image">
                <img src="../static/images/Sumanth.jpeg" alt="Sumanth profile image">
            </div>
            <div class="profile-info">
                
                <h3 class="profile-title">Sumanth Jinka</h3>
                <hr class="divider">
                <p class="profile-text">I am an Analytics professional with 2+ years of expertise in Pharma domain with relevant postgraduate coursework .
                    During my work experience I had the opportunity to demonstrate my skills in statistics, ML/analytical capabilities, Power BI and Tableau, SQL, and Python, critical thinking and problem-solving abilities.
                    For this website, I was responsible for creating web pages, and ensuring the pages were responsive and worked well on different devices.</p>   
            </div>
        </div>
        <div class="profile-card">
            <div class="profile-image">
                <img src="../static/images/Manikanta.jpeg" alt="Manikanta profile image">
            </div>
            <div class="profile-info">
                <h3 class="profile-title">Easwar Manikanta Srinivas Naramsetty</h3>
                <hr class="divider">
                <p class="profile-text">A curious, self-motivated Master of Business Analytics and Information Systems graduate student keen on capturing and manipulating  data, identifying patterns, and making interpretations to help draw data-driven decisions.
                     An experienced software developer with 4 years experience in producing robust code capable of boosting efficiency for high-performing platforms.
                     For our Skill Verse website, I created web pages that are in line with the existing styles to maintain consistency across the site. I was responsible for gathering relevant content that is used across our website.
                    </p>
            </div>
        </div>
        <div class="profile-card">
            <div class="profile-image">
                <img src="../static/images/Prasad.jpeg" alt="Prasad profile image">
            </div>
            <div class="profile-info">
                <h3 class="profile-title">Dilli Prasad Sigirala</h3>
                <hr class="divider">
                <p class="profile-text">I have worked as a Business Analyst for over 2 years, where I gained experience in data analysis, predictive analytics, and automation.
                    During my work experience, I have worked on projects where I have used SQL, Python, SAS, Power BI, and Hadoop to develop dashboards, automate reminders, and reduce manual effort.
                    Additionally, as a Business Analyst I also had several Opportunities to work on front end developement .
                    In this project, I created webpage for our site, I took care of final refactoring of the code, and testing the site for responsiveness. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}